{% extends 'product/layout.html' %}

{% block body %}

<div class="container">

        <h3>Contact Us At the following phone numbers</h3>
        <table border="2px">
            <tr>
                <th>Names</th>
                <th>Position</th>
                <th>Phone Number</th>

            </tr>


            <tr>
            <td>Botokhan</td>
                <td>Founder</td>
                <td>08035845210</td>
            </tr>


            <tr>

                <td>Messii</td>
                 <td>Supervisor</td>
                <td>08035508201</td>
            </tr>

            <tr>
                <td>Musa</td>
                <td>Whole seller</td>
                <td>07067679898</td>
            </tr>

        </table>
            <p>
                You can Contact Us at e-Mail Address: <a href="">alaminsalihukt@gmail.com</a>
            </p>
</div>
{% endblock %}